.avatar-1 {
    background-color: #dee9fc;
    color: #1a2551
}

.avatar-2 {
    background-color: #ece9fc;
    color: #2a1261
}

.avatar-3 {
    background: #fce8e8;
    color: #611212
}

.avatar-4 {
    background: #e8fcec;
    color: #12611a
}
